.label{
    display: none;
}

body{
  background-color: black;
}
}


main{
    display: flex;
    flex-direction: column;
}

h1,h2{
    text-align: center;
    color:blue
}
p{
  color:blue
}
.fa-facebook{
    color:blue
}
button{
  width:25%;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  
  font-size: 16px;
  font-weight: 600;
  line-height: 9px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;

}   

button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }

img{
    height:10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{

  border-radius: 4px;


  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 665px;
width: 100%;
  font-family: inherit;
  font-size: inherit;
  
  font-size: 1.14em;
 text-align: center;
 background-color: #333333;
 border-color: #333333;
 box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}



  ::placeholder{
    color:white;
    font-size: 1.1em;
    font-weight: normal;
    display: block;
    width: 100%;

  }

  ::-webkit-input-placeholder { /* Edge */
    color: white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }